<a href="https://colab.research.google.com/github/HMWIAM/100-Days-Of-ML-Code/blob/master/Python_In_a_day.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
2+3

5

In [2]:
3>2

True

In [3]:
print("Hello")

Hello

In [4]:
#Prints This
print("Hello World")

Hello World

In [5]:
#Multiline Comments

In [6]:
'''
This is a multiline comment
'''

'\nThis is a multiline comment\n'

## Chapter 3: Variables and operators
Variables are names given to data that we need to store and manipulate in our programs.

In [7]:
userAge = 0

In [9]:
userAge

0

We can also define multiple variables at one go.

In [10]:
userAge, userName = 30, 'Peter'

In [11]:
userAge

30

In [12]:
userName

'Peter'

In [13]:
userAge, userName

(30, 'Peter')

3.2 Naming a Variable

 A variable name in Python can only contain letters (a - z, A - B), numbers or underscores (_). However, the first character cannot be a number. Hence, you can name your variables userName, user_name or userName2 but not 2userName. In addition, there are some reserved words that you cannot use as a variable name because they already have preassigned meanings in Python. These reserved words include words like print, input, if, while etc. Weâ€™ll learn about each of them in subsequent chapters. Finally, variable names are case sensitive. username is not the same as userName.

In [14]:
x = 5
y = 10
x = y
print("x = ", x)
print("y =  ", y)

x =  10
y =   10

## 3.4 Basic Operators
 Besides assigning a variable an initial value, we can also perform the usual mathematical operations on variables. Basic operators in Python include +, -, *, /, //, % and ** which represent addition, subtraction, multiplication, division, floor division, modulus and exponent respectively.

In [15]:
x = 5
y = 2
x+y

7

In [16]:
x-y

3

In [17]:
x*y

10

In [19]:
# Floor Division (rounds down the answer to the nearest whole number)

x//y

2

In [21]:
# Modulus (gives the remainder when 5 is divided by 2)
x%y

1

In [23]:
# (5 to the power of 2)

x**y

25

In [24]:
x = 10
x = x + 2
print(x)
x = 10
x += 2
print(x)

12
12

# Chapter 4: Data Types In python
## 4.1 Integers
Integers are numbers with no decimal parts, such as -5, -4, -3, 0, 5, 7 etc.

## 4.2 Float
Float refers to numbers that have decimal parts, such as 1.234, -0.023, 12.01.

## 4.3 String
String refers to text.

In [26]:
# Intergers
userAge = 20
print(userAge)
print(type(userAge))

20
<class 'int'>

In [27]:
# Floats
userHeight = 1.82
print(userHeight)
print(type(userHeight))

1.82
<class 'float'>

In [ ]:
# Strings