<a href="https://colab.research.google.com/github/HMWIAM/100-Days-Of-ML-Code/blob/master/Python_In_a_day.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [100]:
2+3

5

In [101]:
3>2

True

In [102]:
print("Hello")

Hello

In [103]:
#Prints This
print("Hello World")

Hello World

In [104]:
#Multiline Comments

In [105]:
'''
This is a multiline comment
'''

'\nThis is a multiline comment\n'

## Chapter 3: Variables and operators
Variables are names given to data that we need to store and manipulate in our programs.

In [106]:
userAge = 0

In [107]:
userAge

0

We can also define multiple variables at one go.

In [108]:
userAge, userName = 30, 'Peter'

In [109]:
userAge

30

In [110]:
userName

'Peter'

In [111]:
userAge, userName

(30, 'Peter')

3.2 Naming a Variable

 A variable name in Python can only contain letters (a - z, A - B), numbers or underscores (_). However, the first character cannot be a number. Hence, you can name your variables userName, user_name or userName2 but not 2userName. In addition, there are some reserved words that you cannot use as a variable name because they already have preassigned meanings in Python. These reserved words include words like print, input, if, while etc. We’ll learn about each of them in subsequent chapters. Finally, variable names are case sensitive. username is not the same as userName.

In [112]:
x = 5
y = 10
x = y
print("x = ", x)
print("y =  ", y)

x =  10
y =   10

## 3.4 Basic Operators
 Besides assigning a variable an initial value, we can also perform the usual mathematical operations on variables. Basic operators in Python include +, -, *, /, //, % and ** which represent addition, subtraction, multiplication, division, floor division, modulus and exponent respectively.

In [113]:
x = 5
y = 2
x+y

7

In [114]:
x-y

3

In [115]:
x*y

10

In [116]:
# Floor Division (rounds down the answer to the nearest whole number)

x//y

2

In [117]:
# Modulus (gives the remainder when 5 is divided by 2)
x%y

1

In [118]:
# (5 to the power of 2)

x**y

25

In [119]:
x = 10
x = x + 2
print(x)
x = 10
x += 2
print(x)

12
12

# Chapter 4: Data Types In python
## 4.1 Integers
Integers are numbers with no decimal parts, such as -5, -4, -3, 0, 5, 7 etc.

## 4.2 Float
Float refers to numbers that have decimal parts, such as 1.234, -0.023, 12.01.

## 4.3 String
String refers to text.

In [120]:
# Intergers
userAge = 20
print(userAge)
print(type(userAge))

20
<class 'int'>

In [121]:
# Floats
userHeight = 1.82
print(userHeight)
print(type(userHeight))

1.82
<class 'float'>

In [122]:
# Strings
userName = 'Peter'
print(userName)
print(type(userName))

Peter
<class 'str'>

### Built In String Functions

In [123]:
userName.upper()

'PETER'

## Formatting Strings using the % Operator
Strings can also be formatted using the % operator. This gives you greater control over how you want your string to be displayed and stored. The syntax for using the % operator is "string to be formatted" %(values or variables to be inserted into string, separated by commas) There are three parts to this syntax. First we write the string to be formatted in quotes. Next we write the % symbol. Finally, we have a pair of parentheses ( ) within which we write the values or variables to be inserted into the string. This parentheses with values inside is actually known as a tuple, a data type that we’ll cover later in this chapter.

%s, %d and %4.2f are known as formatters; they serve as placeholders in the string.

%s, %d and %4.2f are known as formatters; they serve as placeholders in the string. These placeholders will be replaced with the variable brand, the value 1299 and the variable exchangeRate respectively, as indicated in the parentheses. If we run the code, we’ll get the output below. The price of this Apple laptop is 1299 USD and the exchange rate is 1.24 USD to 1 EUR The %s formatter is used to represent a string ('Apple' in this case) while the %d formatter represents an integer (1299). If we want to add spaces before an integer, we can add a number between % and d to indicate the desired length of the string. For instance "%5d" %(123) will give us "  123" (with 2 spaces in front and a total length of 5). The %f formatter is used to format floats (numbers with decimals). Here we format it as %4.2f where 4 refers to the total length and 2 refers to 2 decimal places. If we want to add spaces before the number, we can format it as %7.2f, which will give us "   1.24" (with 2 decimal places, 3 spaces in front and a total length of 7).

In [124]:
brand = 'Apple'
exchangeRate = 1.235235245
message = 'The price of this %s laptop is %d USD and the exchange rate is %4.2f USD to 1 EUR' %(brand, 1299, exchangeRate)

In [125]:
message

'The price of this Apple laptop is 1299 USD and the exchange rate is 1.24 USD to 1 EUR'

## Formatting Strings using the Format method

"string to be formatted".format(values or variables to be inserted into string, separated by commas)

In [126]:
message = 'The price of this {} laptop is  {} USD and the exchange rate is  {} USD to 1 EUR'.format('Apple', 1299, 1.235)

In [127]:
message

'The price of this Apple laptop is  1299 USD and the exchange rate is  1.235 USD to 1 EUR'

In [128]:
message_1 = '{0} is easier than {1}'.format('Python', 'Java')
message_2 = '{1} is easier than {0}'.format('Python', 'Java')
print(message_1,
      message_2)

Python is easier than Java Java is easier than Python

In [129]:
message_3 = '{:10.2f} and {:d}'.format(1.234, 12)
print(message_3)

      1.23 and 12

In [130]:
message_4 = '{}'.format(1.23556456)
print(message_4)

1.23556456

## Type Casting in Python


such as from an integer to a string. This is known as type casting. There are three built-in functions in Python that allow us to do type casting. These are the int(), float(), and str() functions. The int() function in Python takes in a float or an appropriate string and converts it to an integer. To change a float to an integer, we can type int(5.712987). We’ll get 5 as the result (anything after the decimal point is removed). To change a string to an integer, we can type int("4") and we’ll get 4. However, we cannot type int("Hello") or int("4.22321"). We’ll get an error in both cases. The float() function takes in an integer or an appropriate string and changes it to a float. For instance, if we type float(2) or float("2"), we’ll get 2.0. If we type float("2.09109"), we’ll get 2.09109 which is a float and not a string since the quotation marks are removed. The str() function on the other hand converts an integer or a float to a string. For instance, if we type str(2.1), we’ll get "2.1".

In [131]:
name = "42"
print(type(name))
name = int(name)
print(type(name))

<class 'str'>
<class 'int'>

In [132]:
floating = 4.42564
print(type(floating))
floating = int(floating)
print(type(floating))
floating = str(floating)
print(type(floating))

<class 'float'>
<class 'int'>
<class 'str'>

## 4.5 Lists
List refers to a collection of data which are normally related. Instead of storing these data as separate variables, we can store them as a list. For instance, suppose our program needs to store the age of 5 users. Instead of storing them as user1Age, user2Age, user3Age, user4Age and user5Age, it makes more sense to store them as a list.

In [133]:
userAge = [21.22,23,24,25]

In [134]:
userAge

[21.22, 23, 24, 25]